.video-js .vjs-menu-button-inline.vjs-slider-active,.video-js .vjs-menu-button-inline:focus,.video-js .vjs-menu-button-inline:hover,.video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 10em
}

.video-js .vjs-controls-disabled .vjs-big-play-button {
  display: none!important
}

.video-js .vjs-control {
  width: 3em
}

.video-js .vjs-menu-button-inline:before {
  width: 1.5em
}

.vjs-menu-button-inline .vjs-menu {
  left: 3em
}


.vjs-paused.vjs-has-started.video-js .vjs-big-play-button,
.video-js.vjs-ended .vjs-big-play-button,
.video-js.vjs-paused .vjs-big-play-button {
  display: block
}

.video-js .vjs-load-progress div,.vjs-seeking .vjs-big-play-button,.vjs-waiting .vjs-big-play-button {
  display: none!important
}

.video-js .vjs-mouse-display:after,.video-js .vjs-play-progress:after {
  padding: 0 .4em .3em
}

.video-js.vjs-ended .vjs-loading-spinner {
  display: none;
}

.video-js.vjs-ended .vjs-big-play-button {
  display: block !important;
}

video-js.vjs-ended .vjs-big-play-button,.video-js.vjs-paused .vjs-big-play-button,.vjs-paused.vjs-has-started.video-js .vjs-big-play-button {
  display: block
}
.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button {
  font-size: 5em;
  line-height: 1em;
  height: 1.0em;
  width: 1.2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(102,187,106,.75);
  border-radius: 18%;
  border: none;
  /*height: 1.8em !important;*/
  /*line-height: 1.8em !important;*/
  /*margin-top: -0.9em !important*/
}

.video-js .vjs-big-play-button:hover,
.video-js .vjs-big-play-button:focus,
.video-js .vjs-big-play-button:active {
  background-color: rgba(102,187,106,.95);
}

.video-js .vjs-loading-spinner {
  border-color: #43a047
}

.video-js .vjs-control-bar2 {
  background-color: #43a047
}

.video-js .vjs-control-bar {
  background-color: #43a047 !important;
  color: #ffffff;
  font-size: 11px
}

.video-js .vjs-play-progress,.video-js  .vjs-volume-level {
  background-color: #3b3d41;
}
.video-js .vjs-progress-control .vjs-progress-holder,
.video-js .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.666666666666666666em;
}

.video-js .vjs-progress-control .vjs-progress-holder,
.video-js .vjs-progress-holder .vjs-play-progress,
.video-js .vjs-progress-holder .vjs-load-progress,
.video-js .vjs-progress-holder .vjs-load-progress div {
  border-radius: 1em;
}

.video-js .vjs-slider {
  background-color: #000;
}

.video-js .vjs-load-progress {
  background: #3b3d41;
}
.video-js .vjs-progress-control:hover .vjs-progress-holder,
.video-js .vjs-progress-holder {
  height: 0.5em;
}
.video-js .vjs-play-progress:before {
  font-size: 1em;
  top: -0.19999em;
}


/* switch resolution button */
.vjs-menu-button.vjs-resolution-button,
.vjs-resolution-button .vjs-icon-placeholder:before {
  display: none;
}
.vjs-resolution-button-label {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 33px;
}

/*current time block*/
.video-js .vjs-current-time,
.vjs-no-flex .vjs-current-time {
  display: flex;
}
/* move volume button on the right*/
.vjs-control.vjs-volume-panel {
  position: absolute;
  right: 25px;
}
.vjs-control.vjs-fullscreen-control {
  margin-left: 2.5em;
}

/* rate button*/
.vjs-control.vjs-playback-rate {
  margin-left: 0.5em;
}
.vjs-playback-rate .vjs-playback-rate-value {
  font-size: 1.0em;
  line-height: 3;
}

/*popups*/
.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical,

.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  background-color: rgba(102,187,106,.85);
  color: #FFFFFF;
  border-radius: .5em;
}
.video-js .vjs-volume-bar.vjs-slider,
.video-js .vjs-volume-vertical {
  background-color: #000000;
}
.video-js .vjs-volume-level {
  background-color: #FFFFFF;
}
.vjs-resolution-button ~ .vjs-menu li {
  text-transform: uppercase;
}
/* subtitles */
.vjs-icon-subtitles:before, .video-js .vjs-subtitles-button .vjs-icon-placeholder:before, .video-js .vjs-subs-caps-button .vjs-icon-placeholder:before, .video-js.video-js:lang(en-GB) .vjs-subs-caps-button .vjs-icon-placeholder:before, .video-js.video-js:lang(en-IE) .vjs-subs-caps-button .vjs-icon-placeholder:before, .video-js.video-js:lang(en-AU) .vjs-subs-caps-button .vjs-icon-placeholder:before, .video-js.video-js:lang(en-NZ) .vjs-subs-caps-button .vjs-icon-placeholder:before {
  content: "\f10d";
}

.video-js .vjs-live-display {
  margin-left: 1.8em;
}
/*style for theater mode plugin*/
.theater-mode {
  background-color: rgba(0,0,0,0.9);
}